.composer-button {
	border-width : 10px !important;
	border-style : solid !important;
	border-color : black !important;
}

.composer-announcement {
	background-color: green;
	height: 100px;
	left: 180px;
	position: absolute;
	top: 0px;
	width: 200px;
	z-index: 1000;
}

.relevant-area {
	position: relative;
	z-index: 20;
}

.high-light {
	background-color: rgb(242, 242, 242);
	background: rgb(0, 0, 0);
	height: 100%;
	opacity: 0.8;
	position: absolute;
	width: 100%;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 6;
}